.listing-container {
    padding: 10px;
    min-height: 600px;
    max-width: 500px;
}

.details-container {
    padding-top: 20px;
}

.btn-container {
    display: flex;
    justify-content: space-evenly;
}

.detail-para {
    height: 55px;
    overflow: auto;
}
