.listing-container {
}

.card {
    padding: 10px;
    min-height: 600px;
    max-width: 500px;
    border-radius: 15px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.26) !important;
}

.details-container {
    padding-top: 20px;
}

.btn-container {
    display: flex;
    justify-content: space-evenly;
}

.detail-para {
    height: 55px;
    overflow: auto;
}
