<div class="container-fluid text-center">
  <div class="img-container">
    <div class="background"></div>
  </div>
  <div class="btn-row">
    <div>
      <button type="button" class="btn btn-primary">Login With Facebook</button>
      <button type="button" class="btn btn-primary">Login With Google</button>
      <button type="button" class="btn btn-primary" routerLink="/login">Login With Email</button>
      <button type="button" class="btn btn-primary" routerLink="/signup">Signup</button>
    </div>
  </div>
</div>