/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
/* Angular material theme */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900');

body {
    font-family: 'Montserrat', sans-serif;
}

.title-1 {
    font-size: 20px;
    font-weight: bold;
    color: #444444;
}

.price-1 {
    font-size: 20px;
    font-weight: bold;
    color: #444444;
}

.details-1 {
    font-size: 18px;
    font-weight: normal;
    color: #444444;
}

button {
    max-width: 200px;
    min-width: 150px;
    height: 40px;
}

.primary-btn {
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    padding: 9px 30px;
    min-width: 144px;
    height: 35px;
    background-color: #10A2DC;
    color: #FFFFFF;
    outline: 0;
    border: 0;
    /* transition-duration: 0.4s;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2); */
    margin-bottom: 5px;
  }
  
  .primary-btn:hover {
    background-color: #00B7FF;
  }
  
  .primary-btn:focus, .primary-btn:active:focus, .primary-btn.active:focus {
    outline: 0;
  }
  /* 
  .primary-btn.active, .primary-btn:active {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.26);
    transition-delay: 0s;
  } */